[web_app]
anki_sync_server_path = /home/somewhere_you_put_it/anki-sync-server/src
debug = True
listen_IP = 127.0.0.1
listen_port = 27702
# optional context_path for url prefix
context_path =
secret_key = YOUR_SECRET_KEY
base_url = /sync/
base_media_url = /msync/
force_https = False
media_domain = http://127.0.0.1:27702